@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

/* Generic Paragraph, Heading, Button and Info Styles, Mobile Media Query (?) */

.heading {
  @apply text-6xl mb-4 mx-auto text-center font-light text-shadow-lg w-min whitespace-nowrap;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.article-heading {
  @apply text-5xl mb-4 mx-auto font-light text-center w-min whitespace-nowrap;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.paragraph {
  @apply font-light p-2 whitespace-pre-wrap text-left text-2xl;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.basic-button {
  @apply rounded-full px-4 py-2 font-light text-white bg-gradient-to-tr from-[#0a578a] to-[#0a578a6e] mx-2  transition-all duration-300 ease-out;
}

.basic-button:hover{
  @apply to-[#0a578a9a];
}

/* Paragraph Container, Paragraph Card */

.paragraph-container {
  @apply mx-auto px-5 py-2 w-6xl;
}

.paragraph-card {
  @apply flex flex-col text-black mx-1;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  
  .basic-button {
    @apply text-sm;
  }
  .article-heading {
    @apply text-2xl;
  }
  .paragraph-container{
    @apply w-lvw;
  }
}


/* Site header, header logo, nav container, nav buttons, corresponding media query for mobile formatting */

.site-header {
  @apply top-0 right-0 left-0 fixed flex flex-row justify-center cursor-pointer z-50 bg-gradient-to-b from-[#0a578a] to-[#0a578a6e];
}

.header-logo {
  @apply my-4 mx-auto;
}

.hamburger-nav {
  @apply opacity-0 w-0;
}

.header-nav-container {
  @apply my-5 mx-auto flex flex-row justify-between gap-1;
}

.nav-button {
  @apply mx-auto my-auto px-3 py-0.5 rounded-full border-[#ffffff00] border-2 text-white text-lg font-light transition-all duration-500 ease-out;
}

.nav-button:hover {
  @apply bg-linear-0 bg-[#094c79dc];
}

.nav-button-active {
  @apply border-[#ffffff49];
}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  .site-header {
    @apply justify-around;
  }

  .header-nav-container {
    @apply opacity-0 flex-col justify-start gap-0 px-1 absolute right-0 top-0 bottom-0 w-min h-screen m-0 bg-[#0a578a] shadow-black shadow-lg;
  }

  .nav-button {
    @apply mt-2 my-0 py-2 mx-auto w-fit text-xl;
  }

  .hamburger-nav {
    @apply opacity-100 w-fit m-auto invert-100 pointer-events-none;
  }
}


/* Intro Banner Section, Media Container, Info Card Styles, Mobile Media Query */

.banner-section {
  @apply w-full mb-4;
}

.sermon-media-section {
  @apply w-full max-w-4xl mx-auto;
}

/* Media container for video/image */
.sermon-media-embed {
  @apply bg-gray-100 relative overflow-hidden mb-6 saturate-100 w-full;
}

/* Sermon info card - no background as requested */
.sermon-info-card {
  @apply w-full z-10 absolute inset-0 mt-80;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  .sermon-media-embed {
    @apply h-80 object-cover object-left;
  }

  .sermon-info-card {
    @apply w-full mb-20 mt-50;
  }
  .heading {
    @apply text-3xl;
  }

}
/* Light/Dark Theme Settings (Likely will always be light) */

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Generic body styles */

body {
  @apply bg-[var(--background)] text-[var(--foreground)] overflow-x-hidden;
  font-family: Inter, Arial, Helvetica, sans-serif;
}